@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Figtree', sans-serif;
    background-color: var(--Yellow);
    
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: 20px;
    box-shadow: 9px 10px 2px 2px;
    border-radius: 10px;
    border: 2px solid;
    max-width: 350px;
}

.container img{
    border-radius: 10px;
    max-width: 100%;
    align-self: center;
    margin-bottom: 10px;
}

.container .learn{
    background-color: var(--Yellow);
    padding: 5px;
    max-width: fit-content;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 10px;
}

span{
    font-weight: 500;
}

h2{
    cursor: pointer;
    margin-bottom: 0;
}

h2:hover{
    color: var(--Yellow);
}

p{
    color: var(--Grey);
}
.author{
    display: flex;
    gap: 15px;
    align-items: center;
}
.author img{
    width: 40px;
}
.author span{
     font-weight: 700;
}